<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue sur votre espace d'administration Happy Fit!
			{% endblock %}
		</title>

		<link rel="icon" href="{{ asset('assets/images/logo.png') }}">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Feuilles de styles -->

		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		{% endblock %}

		<!-- Fichiers JS -->

		<script src="{{ asset('assets/js/bootstrap.bundle.js') }}" defer></script>
		{% block javascripts %}{% endblock %}
		<script src="{{ asset('assets/js/script.js') }}" defer></script>

	</head>
	<body>
		{% include "_partials/_nav.html.twig" %}
		{% block body %}{% endblock %}
	</body>
</html></body></html></body></html>
